.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ccc;
  background: #ececec;
  box-shadow: 0 0 2em #ececec;
  border-radius: 10px;
  max-width: 650px;
  width: 100%;
}

.register-form h2 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

label {
  font-size: 1.3rem;
  color: black;
}
input {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  color: hsl(0deg 0% 30%);
  width: 95%;
}

#login-btn1 {
  display: flex;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.login{
  color: red;
  text-decoration: none;
}
#create-account-btn1 {
  margin-top: 0.5rem;
  width: 75%;
  height: 2rem;
  background-color: lightgreen;
  font-size: 1.3rem;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#create-account-btn1:hover {
  background-color: antiquewhite;
}
.icon {
  background-image: url("tabicon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#checkbox {
  transform: scale(1.5);
  width: 10px;
  
}
#agree {
  cursor: pointer;
}
.display-1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 515px;
}
#password-btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .display-1 {
    top: 20px;
    left:520px;
  }
}
@media screen and (max-width: 480px) {
  .display-1 {
    top: 35px;
    left:310px;
  }
}
@media screen and (max-width: 375px) {
  .display-1 {
    left:250px;
  }
}
@media screen and (max-width: 380px) {
  .display-1 {
    left:210px;
  }
}