.plant-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-height: 320px;
  min-height: 300px;
  transition: border-color 0.3s; 
}

.plant-bg{
  background-color: #f7faf7
}
.plant-card:hover {
  border-color: #007bff;
  background-color: #fff;
}

